<footer class="bg-white text-center mt-10 border-t border lg:text-left">
  <div class="p-4 text-center text-black">
    © 2023 Copyright:
    <a class="text-black" href="https://ytamp3.com"> Youtube a mp3</a>
  </div>
</footer>
