---

---

<footer
  class="bg-transparent absolute bottom-0 footer w-full text-center mt-10 lg:text-left"
>
  <div class="p-4 text-center text-black dark:text-white">
    © 2023 Copyright:
    <a class="text-black dark:text-white" href="https://ytamp3.com">
      Youtube a mp3</a
    >
  </div>
</footer>

<style>
  div {
    font-family: "Subjectivity-Light";
  }

  a {
    font-family: "Subjectivity-Light";
  }
</style>
