<footer
  class="bg-white dark:bg-black bottom-0 fixed text-center mt-10 border-t border-gray-700 lg:text-left"
>
  <div class="p-4 text-center text-black dark:text-white">
    © 2023 Copyright:
    <a class="text-black dark:text-white" href="https://ytamp3.com">
      Youtube a mp3</a
    >
  </div>
</footer>
