---

---

<header
  class="h-1/4 border-gray-200 flex flex-row border-b items-center shadow-[0_3px_30px_rgb(255,0,0,0.3)] mb-24 justify-center p-8 lg:p-4"
>
  <img src="/logo.png" alt="Logo de ytamp3.com" class="max-w-10" />
  <h1 class="text-black font-bold font-mono text-4xl text-center">
    YouTube A MP3
  </h1>
</header>
