---

---

<header
  class="top-0 w-full bg-transparent h-1/4 flex flex-col lg:flex-row items-center mb-10 lg:mb-12 justify-center p-8 lg:p-4"
>
  <img src="/logo.png" class="max-w-10 mb-4 lg:mb-0" />
  <h1
    class="text-black dark:text-white font-bold font-mono text-4xl text-center"
  >
    YT A MP3
  </h1>
</header>

<style>
  h1 {
    font-family: "Subjectivity-Bold";
  }
</style>
